{% extends 'base.html' %}
{% block content %}
    
    <div class="row">
        <div class="col-6 mt-5">
            <h1>Quienes Somos</h1>
        </div>
        <div class="col-6 mt-5">
            <p>Onlyflans es una empresa enfocada en el mundo de la pasteleria y los postres, en especial
            en la venata de flanes(de ahi su nombre), nace eb 2021 en Santiago de Chile como una empresa
            familiar que pretende entregar productos de calidad a sus cleintes, estando ubicada en 
            providencia, a pasos del metro Parque Bustamante.</p>
        </div>
    </div>


{% endblock %}




